#historia2{
    background-image: url("../img/img20.jpg");
}
h1{
    font-family: Verdana;
    font-size: 50px;
    background-color: rgb(235, 118, 118);
    background-attachment: fixed;
    border-radius: 10px;
    height: 10%;
    width: 70%;
    text-align: center;
    position: absolute;
    top: 7%; left:14%;
}
nav{
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.952);
    height: 50px;
    width: 730xp;
    border-radius: 10px;    
    text-align: center;
}
#inicio{
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 2%; left: 7%;
}
#info{
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 2%; left: 15%;
}

#hobbies{
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 2%; left: 39%;
}
#historia{
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    color: rgb(189, 171, 243);
    position: absolute;
    top: 2%; left: 50%;
}

#galeria{
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 2%; left: 74%;
}
#otros{
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 2%; left: 84%;
}
#linea1{
    text-align: center;
    font-size: 30px;
    font-family: Verdana;
    position: relative;
    top: 220px; left:350px;
    background-color: rgb(48, 47, 47);
    border-radius: 10px;
    width: 220px;
    height: 150px;
    color: #fff;
}
#img4{
    position: absolute;
    top: 155px; left: 600px;
    border-radius: 20px;
    width: 230px;
    height: 410px; 
}
#linea2{
    text-align: justify;
    font-size: 30px;
    font-family: Verdana;
    position: relative;
    top: 330px; left:150px;
    background-color: rgb(48, 47, 47);
    border-radius: 10px;
    width: 420px;
    height: 520px;
    color: #fff;
}
#img5{
    position: absolute;
    top: 650px; left: 600px;
    border-radius: 20px;
    width: 630px;
    height: 410px; 
}
#linea3{
    text-align: justify;
    font-size: 30px;
    font-family: Verdana;
    position: relative;
    top: 330px; left:150px;
    background-color: rgb(48, 47, 47);
    border-radius: 10px;
    width:  1150px;
    height: 90px;
    color: #fff;
}
#img6{
    position: absolute;
    top: 1250px; left: 230px;
    border-radius: 20px;
    width: 430px;
    height: 250px; 
}
#img7{
    position: absolute;
    top: 1250px; left: 710px;
    border-radius: 20px;
    width: 430px;
    height: 250px; 
}