#hobbiesImg{
    background-image: url("../img/img0.jpg");
}
h1{
    font-family: Verdana;
    font-size: 50px;
    background-color: rgb(235, 118, 118);
    background-attachment: fixed;
    border-radius: 10px;
    height: 60px;
    width: 730px;
    text-align: center;
    position: absolute;
    top: 40; left:300px;
}
nav{
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.952);
    height: 50px;
    width: 730xp;
    border-radius: 10px;    
    text-align: center;
}
#inicio{
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 2%; left: 7%;
}
#info{
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 2%; left: 15%;
}

#hobbies{
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    color: rgb(185, 171, 226);
    position: absolute;
    top: 2%; left: 39%;
}
#historia{
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 2%; left: 50%;
}

#galeria{
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 2%; left: 74%;
}
#otros{
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 2%; left: 84%;
}
#practicar{
    text-align: justify;
    font-size: 30px;
    font-family: Verdana;
    position: relative;
    top: 10%; left:27%;
    background-color: rgb(167, 164, 187);
    border-radius: 10px;
    width: 42%;
    height: 32%;
}
#ver{
    text-align: justify;
    font-size: 30px;
    font-family: Verdana;
    position: relative;
    top: 8%; left:27%;
    background-color: rgb(147, 197, 164);
    border-radius: 10px;
    width: 42%;
    height: 37%;
}
#tiempos{
    text-align: justify;
    font-size: 30px;
    font-family: Verdana;
    position: relative;
    top: 6%; left:27%;
    background-color: rgb(235, 160, 216);
    border-radius: 10px;
    width: 42%;
    height: 36%;
}